        @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap');
@import 'bootstrap-grid.scss';
@import 'normalize.scss';
@import '../slick/slick.scss';
@import '../slick/slick-theme.scss';
@import 'modules/samethings.scss';
@import 'modules/pages/description.scss';
@import 'modules/pages/korzinka.scss';
@import 'modules/pages/search.scss';
@import 'modules/pages/registeration.scss';
@import 'modules/pages/personal.scss';
@import 'modules/pages/order.scss';
@import 'modules/pages/process.scss';
@import 'modules/pages/register.scss';
@import 'modules/pages/addproduct.scss';
@import 'modules/pages/chart.scss';
// @import 'modules/layer/nav';
@import 'modules/pages/main.scss';
@import 'modules/layer/new_sass';
@import 'modules/layer/footer';
@import 'modules/media.scss';

*, *:before, *:after {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
body{
        position: relative;
        min-width: 300px;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
}