.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0px 0px;
    margin-top: 60px;
    min-height: 350px;
    position: relative;
    &::before,&::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: #EFEFF2;
        left: 0;
        right: 0;
    }
    &::before{
        top: 100px;
    }
    &::after{
        bottom: 90px;
    }
    &-inner{
        flex-direction: column;
        display: flex;
        min-height: 350px;
        justify-content: space-between;
    }
    &-top{
        display: flex;
        min-height: 100px;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 24px;
    }
    &-middle{
        display: flex;
        align-items: center;
        min-height: 200px;
        &__navigation{
            display: flex;
            flex: 8;
            justify-content: space-between;
            &--phone{
                display: flex;
                flex-direction: column;
                &-info{
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    color: #6C95FF;
                    font-weight: bold;
    
                }
                &-number{
                    border-radius: 10px;
                    margin-top: 10px;
                    & a{
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                    }
                }
                &-link{
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
            &--navs{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                &-title{
                    margin-bottom: 10px;
                    font-weight: bold;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    color: #6C95FF;
                }
                &-list{
                    & ul{
                        & li{
                            &:not(:first-child){
                                margin-top: 10px;
                            }
                            & a{
                                font-size: 15px;
                                transition: 0.2s all ease-out;
                                &:hover{
                                    color: $dark-blue;
                                }
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
    &-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 90px;  
        &__license{
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #888888;
        }
        &__social{
            display: flex;
            & a{
                padding-right: 10px;
            }
        }
        &__developers{
            display: flex;
            justify-content: space-between;
            .developed{
                display: flex;
                align-items: center;
                text-align: right;
                font-size: 14px;
                color: #888888;
                & span{
                    font-weight: bold;
                    font-size: 16px;
                    padding-right: 5px;
                    padding-left: 5px;
                    cursor: pointer;
                }
            }
        }
    }

    
}