.nav{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px;
    flex-direction: column;
    z-index: 10;
    position: relative;
    &-top{
        display: flex;
        min-height: 30px;
        justify-content: space-between;
        &__left,&__right{
            display: flex;
            justify-content: space-between;
            & a{
                text-decoration: none;
                font-style: normal;
                transition: 0.2s all ease-out;
                padding-left: 5px;
                padding-right: 5px;
                display: flex;
                align-items: center;
                font-size: 12px;
            }
        }
        &__left{
            & a{
                font-weight: bold;
            }
            & .active{
                background: $dark-blue;
                color: #fff;
            }
            
        }
        &__right{
            
            &--language{
                display: flex;
                margin-left: 12px;
                .uz{
                    margin-left: 0;
                }
                & a{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 15px;
                }
                & .active{
                    background: $dark-blue;
                    color: #fff;
                }
            }
        }
    }
    &-middle{
        min-height: 90px;
        display: flex;
        align-items: center;
        .section-inner{
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-items: center; 
        }
        &__logo{
            display: flex;
            margin-right: 20px;
            & a{
                display: flex;
                .logo-text{
                    font-size: 24px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    color: #6C95FF;
                    margin-left: 20px;
                }
            }
        }
        &__search{
            display: flex;
            flex: 6;
            margin-right: 10px;
            min-height: 45px;
            position: relative;
            & input[type="text"]{
                background: #F2F3F7;
                padding-left: 15px;
                padding-right: 82px;
                box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                border: none;
                outline: none; 
                width: 100%;
                vertical-align: middle;
                &::placeholder{
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    color: #C5C5C5;
                }

            }
            &--search{
                position: absolute;
                display: block;
                margin: auto 0;
                top: 0;
                right: 3%;
                bottom: 0;
                font-weight: bold;
                font-size: 18px;
                border: none;
                outline: none;
                display: flex;
                align-items: center;
                text-align: center;
                color: #6C95FF;
                background: transparent;
            }
            &--magnifier{
                display: none !important;
                position: absolute;
                margin: auto 0; 
                top: 50%;
                transform: translate(0px , -50%);
                border: none;
                outline: none;
                background: transparent;
                right: 4%;
                display: flex;  
                bottom: 0;
                align-items: center;
                text-align: center;
                justify-content: space-between;
            }
        }
        &__btns{
            display: flex;
            flex: 5;
            & > div{
                flex-shrink: 0;
                flex-grow: 1;
                & > a{
                    display: flex;
                    flex-shrink: 0;
                    flex-grow: 1;
                    justify-content: space-evenly;
                    img{
                        height: 28px;
                    }
                    
                }
            }
            &-cart{
                display: flex;
                & a{
                    .wrapper-img{
                        position: relative;
                        display: flex;
                        &__count{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            right: -10px;
                            position: absolute;
                            z-index: 5;
                            font-weight: bold;
                            font-size: 9px;
                            background: red;
                            width: 15px;
                            color: white;
                            height: 15px;
                            text-align: center;
                            border-radius: 50%;
                        }
                    }
                }
            }
            &--currency{
                display: flex;
                position: relative;
                & a:hover~&_dropdown{
                    display: block;
                }
                &_dropdown{
                    display: none;
                    z-index: 100;
                    position: absolute;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    width: 100%;
                    left: 0;
                    right: 0;
                    top: 0;
                    min-width: 100px;
                    height: 160px;
                    border-radius: 15px;
                    transition: 0.3s all ease-out;
                    background: #fff;
                    & > a{
                        display: flex;
                        flex-shrink: 0;
                        flex-grow: 1;
                        justify-content: space-evenly;
                        img{
                            height: 28px;
                        }
                    }
                    &-items{
                        display: flex;
                        margin-top: 14px;
                        flex-direction: column;
                        &__usd{
                            background: $dark-blue;
                            color: #fff;
                        }
                        & a{
                            display: flex;
                            justify-content: space-evenly;
                            text-align: center;
                            width: 100%;
                            padding: 7px 40px;
                            font-size: 14px;
                            &:active{
                                background: $dark-blue;
                                color: #fff;
                            }
                            
                        }
                        &__bold{
                            display: flex;
                            align-items: center;
                            margin-left: 5px;
                            font-weight: bold;
                            font-size: 14px;                               
                        }
                    }
                } 
                & a{
                    display: flex;
                    &-middle{
                        border-bottom: 1px solid #EFEFF2;
                        border-top: 1px solid #EFEFF2;
                        min-height: 90px;
                        display: flex;
                        align-items: center;
                    }
                
                }
                
            }
            &-account{
                position: relative;
                &-login{
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    width: 350px;
                    height: 300px;
                    padding: 20px !important;
                    top: 0;
                    right: 0;
                    z-index: 10;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
                    border-radius: 10px;
                    overflow: hidden;
                    &__wrapper{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        position: relative;
                        padding-bottom: 10px;
                        &::before{
                            position: absolute;
                            content: "";
                            height: 1px;
                            background: #EFEFF2;
                            width: 150%;
                            left: -20%;
                            right: 0;
                            bottom: 0;
                        }
                        & > a{
                            display: flex;
                            img{
                                height: 28px;
                                margin-right: 15px;
                            }
                        }
                    }
                    &__btn{
                        width: 60% !important;
                    }
                    &__links{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        margin-top: 8px;
                        & a{
                            font-size: 13px;
                            color: #6C95FF;
                        }
                    }
                    & form{
                        margin-top: 36px;
                        padding: 10px;
                        & input{
                            width: 100% !important;
                            &:not(:first-child){
                                margin-top: 16px;
                            }
                        }
                    }
                }
                & > .active{
                    display: block !important;
                }
                &-logout{
                    display: none;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 250px;
                    height: 275px;
                    padding: 20px !important;
                    z-index: 10;
                    &__wrapper{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        height: 80%;
                    }
                    &__order{
                        display: flex;
                        flex-direction: column;
                       & a{
                           font-size: 18px;
                           &:not(:first-child){
                               margin-top: 18px;
                           }
                        }
                    }
                    &__name{
                        display: flex;
                        justify-content: center;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    &__exit{
                        display: flex;
                        justify-content: center;
                        & button{
                            padding: 5px 40px;
                            background: #DC5252;
                            border-radius: 10px;
                            color: #fff;
                            font-weight: bold;
                            outline: none;
                            border: none;
                        }
                    }
                }
            }
        }
    }
    &-bottom{
        min-height: 45px;
        display: flex;
        align-items: center;
        .hidden-category{
            position: relative;
            &__title{
                font-weight: bold;
                font-size: 17px;
            }
            &__title:hover+ &-wrapper{
                display: block;
            }
            &-wrapper{
                display: none;
                position: absolute;
                width: 250px;
                height: 455px;
                margin-top: 15px;
                background: #FFFFFF;
                box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
                border-radius: 10px;
            }
            .active{
                display: block !important;
            }
            &__hidemenu{
                position: absolute;
                display: flex;
                justify-content: center;
                &--drop{
                    z-index: 10;
                    width: 250px;
                    top: 0px;
                    left: 0;
                    & > ul{
                        margin-top: 0 !important;
                        & > li{
                            & a{
                                font-size: 11px;
                            }
                        }
                    }
                }
                & ul{
                    display: flex;
                    padding-left: 0!important;
                    flex-direction: column;
                    margin: 20px 0 15px;
                    & li{
                        display: flex;
                        border-radius: 10px;
                        &:not(:first-child){
                            margin-top: 12px;
                        }  
                        & a{
                            font-size: 14px;
                            display: flex;
                            justify-content: space-between;
                            display: flex;
                            align-items: center;
                            & .list-item{
                                padding: 9px 35px 9px 30px;
                            }
                            & .direction{
                                position: absolute;
                                right: 10px;
                                color: white;
                                opacity: 0;
                            }
                            
                        }
                    }
                } 
            }
            & img{
                vertical-align: middle;
                margin-left: 4px;
            }
        }
        & ul{
            display: flex;
            padding: 0px;
            & li{
                &:not(:first-child){
                    margin-left: 10px;
                }
                & a{
                    font-size: 12px;
                    transition: 0.2s all ease-out;
                    display: flex;
                    align-items: center;
                    &:hover{
                        color: $dark-blue;
                    }
                }
                
            }
        }
    }
}
.alert-card{
    position: absolute;
    display: none;
    width: 420px;
    height: 102px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    .alert{
        display: flex;
        position: relative;
        overflow: hidden;
        &::before{
            position: absolute;
            content: "";
            right: 0;
            left: 0;
            height: 17px;
            bottom: 0;
            background: $third-color;
        }
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        &-img{
            width: 45px;
            height: 40px;
            background: url('../../../img/Polygon\ 1.png') no-repeat 50% 50%;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        &-text{
            display: flex;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            display: flex;
            align-items: center;
        }
    }
}
.account-text{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    & .top{
        font-weight: bold;
    }
    & .text-center{
        align-self: center;
    }
}