.nav {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 10px 10px;
  flex-direction: column;
  z-index: 1000;
  position: relative;

  //   overflow-x: hidden;
  &-top {
    display: flex;
    min-height: 30px;
    justify-content: flex-end;
    position: relative;

    &::before {
      position: absolute;
      bottom: 0;
      left: -50%;
      right: -50%;
      content: "";
      height: 1px;
      width: 200%;
      background: #efeff2;
    }

    &__right {
      display: flex;
      justify-content: space-between;
      flex: auto;
      & > div {
        display: flex;
      }
      & a {
        text-decoration: none;
        font-style: normal;
        transition: 0.2s all ease-out;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        align-items: center;
        font-size: 12px;
      }
    }

    &__left {
      & a {
        font-weight: bold;
      }

      & .active {
        background: $dark-blue;
        color: #fff;
      }
    }

    &__right {
      &--language {
        display: flex;
        margin-left: 12px;

        .uz {
          margin-left: 0;
        }

        & a {
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 15px;
        }

        & .active {
          background: $dark-blue;
          color: #fff;
        }
      }
    }
  }

  &-bottom {
    border-bottom: 1px solid #efeff2;
    border-top: 1px solid #efeff2;
    min-height: 100px;
    display: flex;
    align-items: center;

    .section-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
    &__logo {
      padding-right: 16px;
    }
    &__title {
      width: 90%;
      & button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: none;
        color: white;
        background: #6c95ff;
        border-radius: 30px;
        font-weight: bold;
        font-size: 18px;
        padding: 18px 20px;
        outline: none;
        & img {
          margin-left: 5px;
        }
      }
    }

    &__category {
      display: flex;
      flex: 3;

      &-menu {
        display: none;
        position: absolute;
        z-index: 0;
        background: #ffffff;
        border-radius: 20px;
        width: 275px;
        padding-left: 10px;
        top: 90px;
        & ul {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          flex: 1;
          padding-right: 10px;
          padding-top: 20px;
          padding-bottom: 20px;
          & > li {
            display: flex;
            border-radius: 10px;
            &:hover {
              background: $second-color;

              .menu-second {
                display: flex;
                top: 0;
              }

              & > a {
                font-weight: bold;
                color: #fff;

                & .direction {
                  opacity: 1;
                  font-weight: normal;
                }
              }
            }
            & a {
              flex: 1;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 9px 0px 9px 30px;

              & .list-item {
                &:nth-child(4) {
                  padding-right: 53px;
                }
              }

              & .list-item {
                &:nth-child(4) {
                  padding-right: 53px;
                }
              }

              & .direction {
                padding-right: 10px;
                color: white;
                opacity: 0;
              }
            }
          }
        }
      }

      & .active {
        display: block !important;
      }
    }

    &__search {
      display: flex;
      flex: 7;
      min-height: 45px;
      position: relative;
      padding-left: 25px;

      & input[type="text"] {
        padding: 18px 115px 18px 18px;
        border: 2px solid #6c95ff;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        outline: none;
        width: 100%;
        vertical-align: middle;

        &::placeholder {
          font-size: 16px;
          display: flex;
          align-items: center;
          color: #c5c5c5;
        }
      }

      &--search {
        position: absolute;
        display: block;
        margin: auto 0;
        top: 0;
        right: 0;
        bottom: 0;
        font-weight: bold;
        font-size: 18px;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        text-align: center;
        color: #fff;
        padding: 19px 22px;
        background: #6c95ff;
        border-radius: 30px;
      }

      &--magnifier {
        position: absolute;
        display: none !important;
        margin: auto 0;
        top: 0;
        right: 0;
        bottom: 0;
        font-weight: bold;
        font-size: 18px;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        text-align: center;
        color: #fff;
        padding: 18px;
        background: #6c95ff;
        border-radius: 30px;

        & img {
          vertical-align: middle;
        }
      }
    }

    &__btns {
      display: flex;
      flex: 3;
      justify-content: flex-end;
      padding-left: 10px;
      &--login {
        display: none;
        position: absolute;
        z-index: 10000;
        width: 395px;
        height: 325px;
        background: #ffffff;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        right: -20px;
        top: 0px;
        &_submit {
          margin-top: 24px;
          & button {
            flex-grow: 0 !important;
            padding: 5px 80px 4px 80px;
            margin: 0 auto;
            background: #46b22b !important;
            border-radius: 10px;
            color: white;
            font-weight: bold;
            font-size: 18px;
          }
        }
        &_wrapper {
          display: flex;
          justify-content: flex-end;
          height: 50px;
          border-bottom: 1px solid #efeff2;
          padding-right: 20px;
          & button {
            flex-grow: 0 !important;
          }
        }
        &_form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 30px;
          height: 85%;
          & input {
            background: #f2f3f7;
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 9px 15px;
            font-size: 18px;
            border: none;
            outline: none;
            &:not(:first-child) {
              margin-top: 18px;
            }
            &::placeholder {
              color: #c5c5c5;
            }
          }
        }
      }
      &--img {
        border-radius: 100%;
        padding: 10px;
        width: 50px;
        height: 50px;
      }
      & .active {
        background: #6c95ff;
      }
      & > div {
        &:not(:first-child) {
          margin-left: 10px;
        }
        & button {
          border: none;
          outline: none;
          background: transparent;
        }

        & button,
        & > a {
          display: flex;
          flex-shrink: 0;
          flex-grow: 1;
          justify-content: space-evenly;
          align-items: center;

          img {
            height: 28px;
          }
        }
      }

      &-cart {
        display: flex;

        & a {
          .wrapper-img {
            position: relative;
            display: flex;

            &__count {
              display: flex;
              justify-content: center;
              align-items: center;
              right: -5px;
              position: absolute;
              z-index: 5;
              font-weight: bold;
              font-size: 9px;
              background: red;
              width: 15px;
              color: white;
              height: 15px;
              text-align: center;
              border-radius: 50%;
            }
          }
        }
      }

      &--currency {
        display: flex;
        position: relative;

        & a:hover ~ &_dropdown {
          display: block;
        }

        &_dropdown {
          display: none;
          z-index: 100;
          position: absolute;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          width: 100%;
          left: 0;
          right: 0;
          top: 0;
          min-width: 100px;
          height: 160px;
          border-radius: 15px;
          transition: 0.3s all ease-out;
          background: #fff;

          & > button {
            display: flex;
            flex-shrink: 0;
            flex-grow: 1;
            justify-content: space-evenly;

            img {
              height: 28px;
            }
          }

          &-items {
            display: flex;
            margin-top: 14px;
            flex-direction: column;

            &__usd {
              background: $dark-blue;
              color: #fff;
            }

            & a {
              display: flex;
              justify-content: space-evenly;
              text-align: center;
              width: 100%;
              padding: 7px 40px;
              font-size: 14px;

              &:active {
                background: $dark-blue;
                color: #fff;
              }
            }

            &__bold {
              display: flex;
              align-items: center;
              margin-left: 5px;
              font-weight: bold;
              font-size: 14px;
            }
          }
        }

        & a {
          display: flex;

          &-middle {
            border-bottom: 1px solid #efeff2;
            border-top: 1px solid #efeff2;
            min-height: 90px;
            display: flex;
            align-items: center;
          }
        }
      }

      &-account {
        position: relative;
        & .show {
          display: block !important;
        }
        &-login {
          display: none;
          flex-direction: column; 
          position: absolute;
          width: 350px;
          height: 300px;
          padding: 20px !important;
          top: 0;
          right: 0;
          z-index: 10;
          background: #ffffff;
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
          border-radius: 10px;
          overflow: hidden;

          &__wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            padding-bottom: 10px;

            &::before {
              position: absolute;
              content: "";
              height: 1px;
              background: #efeff2;
              width: 150%;
              left: -20%;
              right: 0;
              bottom: 0;
            }

            & > a {
              display: flex;

              img {
                height: 28px;
                margin-right: 15px;
              }
            }
          }

          &__btn {
            width: 60% !important;
          }

          &__links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 8px;

            & button {
              font-size: 13px;
              color: #6c95ff;
              flex-grow: 0 !important;
            }
          }

          & form {
            margin-top: 36px;
            padding: 10px;

            & input {
              width: 100% !important;

              &:not(:first-child) {
                margin-top: 16px;
              }
            }
          }
        }

        & > .active {
          display: block !important;
        }

        &-logout {
          display: none;
          position: absolute;
          right: -20px;
          top: 0px;
          width: 250px;
          height: 275px;
          z-index: 100;

          &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 82%;
          }

          &__order {
            display: flex;
            flex-direction: column;
            padding: 0 20px;
            & a {
              font-size: 16px;
              &:not(:first-child) {
                margin-top: 18px;
              }
            }
          }

          &__name {
            display: flex;
            justify-content: center;
            font-size: 18px;
            font-weight: bold;
          }

          &__exit {
            display: flex;
            justify-content: center;

            & button {
              flex-grow: 0 !important;
              padding: 5px 40px;
              background: #dc5252 !important;
              border-radius: 10px;
              color: #fff;
              font-weight: bold;
              outline: none;
              border: none;
            }
          }
        }
      }
    }
  }

  &-middle {
    min-height: 70px;
    display: flex;
    align-items: center;
    &-wrapper {
      display: flex;
      flex: auto;
      align-items: center;
    }
    &__search {
      display: none !important;
    }

    &__logo {
      display: flex;
      margin-right: 20px;

      & a {
        display: flex;

        .logo-text {
          font-size: 24px;
          font-weight: bold;
          display: flex;
          align-items: center;
          color: #6c95ff;
          margin-left: 20px;
        }
      }
    }

    & ul {
      display: flex;
      padding: 0px;
      margin-left: 50px;

      & li {
        &:not(:first-child) {
          margin-left: 10px;
        }

        & a {
          font-size: 12px;
          transition: 0.2s all ease-out;
          display: flex;
          align-items: center;

          &:hover {
            color: $dark-blue;
          }
        }
      }
    }

    &__phone {
      margin: 0 0 0 auto;
      text-align: right;

      &--title {
        font-size: 12px;
        color: #333333;
        margin-bottom: 5px;
      }

      &--number {
        & a {
          font-weight: 600;
          font-size: 18px;
          color: #6c95ff;
        }
      }
    }
  }
}

button {
  cursor: pointer;
}

.alert-card {
  position: absolute;
  display: none;
  width: 420px;
  height: 102px;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
  border-radius: 10px;

  .alert {
    display: flex;
    position: relative;
    overflow: hidden;

    &::before {
      position: absolute;
      content: "";
      right: 0;
      left: 0;
      height: 17px;
      bottom: 0;
      background: $third-color;
    }

    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    border-radius: 10px;

    &-img {
      width: 45px;
      height: 40px;
      background: url("../../../img/Polygon\ 1.png") no-repeat 50% 50%;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &-text {
      display: flex;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;
    }
  }
}
.blur {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(68, 68, 68, 0.15);
  backdrop-filter: blur(15px);
}
.account-text {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-left: 5px;

  & .top {
    font-weight: bold;
  }

  & .text-center {
    align-self: center;
  }
}
.show {
  display: block !important;
}
.none {
  display: none !important;
}
.navbar-fixed {
  position: fixed;
  top: -100px;
  width: 100%;
  z-index: 1000;
  background: #ffffff !important;
  &-wrapper {
    height: 100%;
  }
  &__logo {
    & img {
      margin-right: 0 !important;
    }
  }
  &__category {
    flex: 3;
  }
  &__search {
    display: flex !important;
  }
  &__button {
    justify-content: center !important;
  }
}
.show__fixed {
  top: 0;
}
.toggled{
  overflow: hidden !important;
}