.addproduct{
    &-wrapper{
        margin-top: 20px;
    }
    &-item{
        display: flex;
        padding: 0 50px;
        &__left, &__right{
            display: flex;
            flex: 1;
            flex-direction: column;

        }
        &__left{
             &--confugration{
                &_item{
                    &-radio{
                        display: flex;
                        flex-direction: row;
                        margin-top: 30px;
                        justify-content: flex-start;
                        &-title{
                            margin: 0;
                            font-weight: normal;
                            font-size: 18px;
                        }
                        &-navs{
                            margin-left: 30px;  
                            &__radio{
                                &:not(:first-child){
                                    margin-left: 10px !important;
                                }
                            }
                        }
                    }
                }
            }   
            &--textarea{
                margin-top: 45px;
                margin-bottom: 80px;
                & textarea{
                    height: 160px;
                    margin-top: 30px;
                }
            }
        }
        &__right{
            display: flex;
            align-items: flex-end !important;
            &--wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &--img{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 105px;
                margin-bottom: 20px;
                &_row{
                    display: flex;
                    justify-content: center;
                    &:not(:first-child){
                        margin-top: 15px;
                    }
                }
                &_photo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 180px ;
                    height: 180px;
                    background: url('../../../img/bg-product.png') no-repeat center;
                    background-size: cover;
                    &:not(:first-child){
                        margin-left: 15px;
                    }
                }
            }
            &--form{
                width: 100% !important;
            }
        }
    }
}