.main-section {
  &-wrapper {
    display: flex;
  }
  &-total-sums {
    display: flex;
    flex: 3;
    flex-direction: column;
    margin-left: 18px;
    &-title {
      display: flex;
      align-items: center;
      background: #ffffff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 25px 10px 25px 30px;
      width: 100%;
      height: 80px;
      margin-top: 24px;
      &__name {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 24px;
      }
    }
    &-info {
      display: flex;
      align-items: center;
      flex-direction: column;
      background: #ffffff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      width: 100%;
      height: 240px;
      margin-top: 18px;
      &__top {
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;
        min-height: 110px;
        font-size: 14px;
        width: 100%;
        border-bottom: 1px solid #efeff2;
        &--left {
          &_item {
            &:not(:first-child) {
              margin-top: 20px;
            }
          }
        }
        &--right {
          &_item {
            &:not(:first-child) {
              margin-top: 20px;
            }
          }
        }
      }
      &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 50%;
        &--pay {
          width: 100%;
          align-items: center;
          justify-content: space-around;
          display: flex;
          font-weight: bold;
          font-size: 14px;
          display: flex;
          align-items: center;
          &_right {
            color: #46b22b;
          }
        }
        &_btn {
          & a {
            display: flex;
            align-items: center;
            text-align: center;
            font-weight: bold;
            font-size: 18px;
            padding: 7px 44px;
            background: $dark-blue;
            border-radius: 10px;
            color: #ffffff;
          }
        }
      }
    }
  }
  &-process {
    display: flex;
    flex-direction: column;
    flex: 8;
    &-title {
      display: flex;
      align-items: center;
      background: #ffffff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 18px;
      width: 100%;
      height: 80px;
      margin-top: 24px;
      &__name {
        display: flex;
        margin-left: 35px;
        align-items: center;
        &--title {
          display: flex;
          align-items: center;
          font-size: 24px;
          margin-left: 18px;
          font-weight: bold;
        }
        &--img {
          display: flex;
          align-items: center;
        }
      }
      &__count {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #8c8b8b;
      }
    }
    &-action {
      display: flex;
      background: #ffffff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin-top: 18px;
    }
  }
}
.current {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  min-height: 100px;
  align-items: flex-start;
  padding: 18px;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #efeff2;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .radio {
    position: relative;
  }
  .radio input {
    opacity: 0;
    position: absolute;
    z-index: 1;
  }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 26px;
    height: 26px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000000;
    border-radius: 50%;
    background-color: #ffffff;
    transition: 0.2s all ease-out;
  }
  .radio input:checked + label::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000000;
    border-radius: 50%;
    background-color: #ffffff;
    transition: 0.2s all ease-out;
  }
  .radio input:checked + label::after {
    background-color: #6c95ff;
  }
  &__adress {
    display: flex;
    justify-content: flex-start;
    label {
      cursor: pointer;
    }
    &--checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      margin-left: 20px;
    }
    &--top {
      margin-left: 20px;
      margin-bottom: 30px;
      &_title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        margin-top: 20px;
        display: flex;
        align-items: center;
      }
      &_subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        margin-top: 20px;
        color: #8c8b8b;
      }
      &_links {
        margin-top: 15px;
        display: flex;
        align-items: center;
        & button {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          display: flex;
          align-items: center;
          color: #6c95ff;
          border: none;
          outline: none;
          background: transparent;
          &:nth-child(2) {
            margin-left: 20px;
            color: #dc5252;
          }
        }
      }
    }
    &--hidden{

      margin: 0 auto !important;
    }
    &--bottom {
      display: flex;
      min-height: 80px;
      align-items: center;
      margin-left: 80px;
      & button {
        font-weight: bold;
        font-size: 18px;
        padding: 7px 13px 7px 11px;
        display: flex;
        align-items: center;
        background: #46b22b;
        border-radius: 10px;
        border: none;
        outline: none;
        color: #ffffff;
      }
    }
  }
}
.third {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    &:not(:last-child) {
      &::before {
        position: absolute;
        content: "";
        height: 1px;
        width: 120%;
        background: #efeff2;
        left: -10%;
        right: -10%;
        bottom: 0;
      }
    }
    & label {
      position: relative;
      cursor: pointer;
      margin-left: 18px;
      &::before {
        position: absolute;
        content: "";
        display: inline-block;
        width: 22px;
        height: 22px;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #000000;
        border-radius: 50%;
        background-color: #ffffff;
        transition: 0.2s all ease-out;
      }
    }
    & input {
      display: none;
    }
    label::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 14px;
      height: 14px;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid #000000;
      border-radius: 50%;
      background-color: #ffffff;
      transition: 0.2s all ease-out;
    }
    input:checked + label::after {
      background-color: #6c95ff;
    }
    input:checked + label {
      opacity: 1 !important;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 0px 0px 25px;
    justify-content: space-around;
    opacity: 0.3;
    min-height: 130px;
    &__remove {
      &--link {
        & button {
          display: flex;
          align-items: center;
          padding: 11px;
          background: #dc5252;
          border-radius: 10px;
          border: none;
          outline: none;
        }
      }
    }
    &__radiobtn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      background: url("../../../img/little-product.png") no-repeat 50% 50%;
      background-size: cover;
      width: 80px;
      height: 80px;
    }
    &__description {
      display: flex;
      width: 73%;
      align-items: center;
      justify-content: space-evenly;
      &--info {
        display: flex;
        flex-direction: column;
        flex: 2;
        .item-info {
          width: 100%;
          display: flex;
          flex-direction: column;
          cursor: pointer;
          &__top {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &--title {
              font-weight: bold;
              font-size: 18px;
              display: flex;
              align-items: center;
              text-align: right;
            }
            &--subtitle {
              display: flex;
              align-items: center;
              text-align: right;
              font-size: 12px;
              margin-top: 4px;
              margin-bottom: 14px;
            }
          }
          &__bottom {
            display: flex;
            width: 100%;
            &--img {
              display: flex;
            }
            &--cost {
              font-weight: bold;
              font-size: 15px;
              margin-left: 10px;
              display: flex;
              align-items: center;
              text-align: right;
            }
          }
        }
      }
      &--descript {
        display: flex;
        flex: 2;
        flex-direction: column;
        padding: 5px;
        font-weight: bold;
        font-size: 12px;
        margin-left: 20px;
        &_title {
          margin-bottom: 10px;
        }
        &_text {
          display: flex;
          align-content: flex-start;
          font-weight: normal;
        }
      }
      &--countity {
        display: flex;
        flex: 1;
        justify-content: center;
        &_quantity {
          display: flex;
          flex-direction: column;
          align-items: center;
          &-navs {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            & button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 14px;
              font-weight: bold;
              height: 14px;
              border: 1px solid #000000;
              border-radius: 100%;
              background: transparent;
            }
          }
          &-title {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 6px;
          }
        }
      }
    }
  }
}
.two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 440px;
  &-top {
    display: flex;
    height: 80px;
    border-bottom: 1px solid #efeff2;
    & input {
      display: none;
    }
    & input:checked + label {
      background: $dark-blue;
      color: #ffffff;
    }
    & label {
      cursor: pointer;
      font-weight: bold;
      font-size: 18px;
      transition: 0.3s all ease-out;
      padding: 31px 14px 27px 14px;
      &:hover {
        background: $dark-blue;
        color: #ffffff;
      }
      &:nth-child(1) {
        margin-left: 45px;
      }
      &:nth-child(2) {
        margin-left: 25px;
      }
      display: flex;
      align-items: center;
    }
  }
  &-middle {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 35px;
    padding: 0px 20px 0px 20px;
    & input {
      display: none !important;
    }
    & input:checked + label {
      background: $dark-blue;
      color: #ffffff;
    }
    &__cards {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      padding: 11px;
      border-radius: 10px;
      transition: 0.3s all ease-out;
      cursor: pointer;
      &:hover {
        color: #ffffff;
        background: $dark-blue;
      }
      &--name {
        margin-top: 7px;
      }
    }
    & .active {
      background: $dark-blue;
      color: #ffffff;
    }
  }
  &-bottom {
    margin-bottom: 55px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    padding: 0px 10px 0px 30px;
    justify-content: center;
    &__text {
      display: flex;
      align-items: center;
      text-align: left;
      font-size: 18px;
      color: #8c8b8b;
    }
  }
}
