.personal{
    display: flex;
    margin-top: 30px;
    &-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 50px;
        &__button{
            margin-left: 15px !important;
            display: flex;
            align-self: flex-start;
            margin-bottom: 30px;
        }
        &__adress{
            margin-left: 0;
        }
        &__first{
            display: flex;
            flex-direction: column;
            padding: 0;
            padding-top: 10px;
        }
        &:not(:first-child){
            margin-left: 18px;
            padding-bottom: 0;
        }
        &__data{
            width: 100%;
            &--info{
                &_title{
                    display: flex;
                    justify-content: center;
                    font-size: 24px;
                    font-weight: bold;
                    margin-bottom: 24px;
                }
                &_person{
                    display: flex;
                    justify-content: space-between;
                    &:not(:first-child){
                        margin-top: 10px;
                    }
                    &-left,&-right{
                        font-size: 18px;
                    }
                    &-right{
                        color: #717171;
                    }
                }
            }
            &--form{
                margin-top: 80px;
                &_input{
                    max-width: 200px;
                }
                &_title{
                    margin-bottom: 32px;
                }
                & form{
                    display: flex;
                    flex-direction: column;
                    & input{
                        &:not(:first-child){
                            margin-top: 18px;
                        }
                        &:nth-child(3){
                            margin-top: 50px;
                        }
                    }
                    & input[type="text"]{
                        background: #F2F3F7;
                        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
                        border-radius: 10px;
                        border: none;
                        outline: none;
                        padding: 9px 15px 9px 25px;
                        &::placeholder{
                            font-size: 18px;
                            color: #C5C5C5;
                        }
                    }
                }
            }
        }
    }
}