.my-orders{
    margin-top: 25px;
    &-wrapper{
        display: flex;
        flex-direction: column;
    }
    &-top{
        display: flex;
        min-height: 60px;
        align-items: center;
        &__item{
            font-weight: bold;
            font-size: 13px;
            display: flex;
            justify-content: center;
            &:nth-child(2){
                flex: 5;
            }
            &:nth-child(1){
                flex: 4;
            }
            &:nth-child(3){
                flex: 3;
            }
        }
    }
    &-bottom{
        height: 250px;
        display: flex;
        margin-top: 18px;
        &__item{
            display: flex;
            &--1,&--2,&--1,&--3{
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid #EFEFF2;
            }
            &--1{
                display: flex;
                flex: 4;
                flex-direction: column;
                &_top,&_bottom{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 1px solid #EFEFF2;
                    width: 100%;
                    flex: 1;
                    font-weight: bold;
                    font-size: 12px;
                }
            }
            &--2{
                display: flex;
                flex-direction: column;
                padding: 25px 0;
                flex: 6;
                &_wrapper{
                    width: 100%;
                    overflow-y: scroll;
                    white-space: nowrap;
                    &::-webkit-scrollbar{
                        width: 5px;
                        background: #fff !important;

                    }
                    &::-webkit-scrollbar-track{
                        background: #D8D9DC;
                        height: 500px !important;
                        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
                        // border-radius: 10px;
                    }
                    &::-webkit-scrollbar-thumb{
                        width: 5px;
                        height: 5px !important;
                        background: #FFFFFF;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border-radius: 5.5px;
                    }
                }
                &_product{
                    width: 100% !important;
                    display: flex;
                    justify-content: space-evenly !important;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    &-cost,&-name,&-quantity{
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                    }
                    &-img{
                        width: 30px;
                        height: 30px;
                        background: url('../../../img/very-litle.png') center;
                        background-size: cover;
                    }
                    &-name{
                        &__title{
                            display: flex;
                            align-items: center;
                            font-size: 14px;
                        }
                    }
                    &-quantity{
                        font-size: 12px;
                    }
                }
            }
            &--3{
                flex: 3;
                display: flex;
                justify-content: center;
                padding: 30px;
                & ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    width: 60%;
                    height: 100%;
                    & li{
                        display: flex;
                        justify-content: center;
                        position: relative;
                        font-weight: bold;
                        font-size: 12px;
                        &:nth-child(1){
                            color: #46B22B;
                        }
                        &:nth-child(3){
                            color: #D8D9DC;
                        }
                        &:nth-child(3)::before{
                            background: #D8D9DC;
                        }
                        &:nth-child(2)::before{
                            background: #000;
                        }
                        &::before{
                            position: absolute;
                            content: "";
                            width: 10px;
                            height: 10px;
                            border-radius: 100%;
                            right: -2.5px;
                            background: #46B22B;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            &:nth-child(2){
                                background-color: #000000 !important;
                            }

                        }
                    }
                    &::before{
                        position: absolute;
                        content: "";
                        right: 0;
                        background: #D8D9DC;
                        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
                        border-radius: 10px;
                        width: 5px;
                        height: 98%;
                    }
                }
            }
        }
    }
}