.section-register {
  &-wrapper {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 840px;
    min-height: 850px;
    margin: 24px auto 0px;
    padding-left: 50px;
    padding-right: 50px;
  }
  &-form {
    &__field {
      &--legend {
        font-weight: bold !important;
        font-size: 24px;
        padding: 30px 0px 0px 0px;
      }
      &--input {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        &_item {
          display: flex;
          flex: 1;
        }
        &-wrapper {
          position: relative;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          &:not(:first-child){
            margin-left: 30px !important;
          } 
          &_grow{
            flex: 1;
          }
          &_submit{
            padding: 0 !important;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin: 0 !important;
          }
          &_bank{
            display: flex;
            align-items: center;
            padding: 0 0 0 10px !important;
            min-width: 100%;
          }
          & label {
            position: absolute;
            left: 0;
            width: 130px;
            height: 50px;
            top: 55px;
            transform: translate(0, -50%);
            font-size: 16px;
            color: #9c9c9c;
            padding: 15px 10px 13px 15px;
            border-right: 1px solid#F2F3F7;
          }
          & input {
            width: 100%;
            padding: 16px 10px 15px 135px;
            background: #ffffff;
            border: 1px solid #f2f3f7;
            box-sizing: border-box;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            outline: none;
            margin-top: 30px;
            &:nth-child(3) {
              padding-left: 80px !important;
            }
          }
      }
      }
    }
    &__textarea {
      margin-top: 60px;
      & textarea {
        position: relative;
        background: #ffffff;
        border: 1px solid #eeeff3;
        box-sizing: border-box;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        width: 100%;
        padding: 15px;
        outline: none;
        resize: none;
        &::placeholder {
          font-size: 16px;
          color: #9c9c9c;
        }
        &::before {
          position: absolute;
          content: "Max 140 Characters";
          font-size: 16px;
          color: #9c9c9c;
          bottom: 0px;
          right: 0px;
        }
      }
    }
    &__submit {
      padding-bottom: 40px;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      & input {
        background: #46b22b;
        border-radius: 10px;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        padding: 8px 45px;
        border: none;
        outline: none;
      }
    }
  }
}
