.search{
    &-wrapper{
        display: flex;
    }
    &-left{
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        &-wrapper{
            width: 250px !important;
            display: flex;
            flex-direction: column;
            padding: 22px 20px;
            margin-bottom: 40px;
        }
        &__title{
            display: flex;
            justify-content: space-between;
            margin-bottom: 14px;
            &--text{
                font-weight: bold;
                font-size: 14px;
            }
            &--img{
                & img{
                    vertical-align: middle;
                }
            }
        }
        &__cost{
            &--item{
                display: flex;
                flex-direction: column;
                &_range{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    position: relative;
                    &-money{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: #F2F3F7;
                        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
                        border-radius: 10px;
                        width: 100px;
                        height: 38px;
                        font-size: 14px;
                    }
                    &-wrapper{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        & input{
                            padding: 0 5px;
                            outline: none;
                            border: none;
                            text-align: center;
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }
                    }
                    input[type="range"] {
                        position: absolute;
                        top: 100%;
                        z-index: 10;
                        &:nth-child(1) {
                           &::-webkit-slider-thumb::before {
                              background-color: purple;
                           }
                        }
                  
                        &:nth-child(2) {
                           background: none;
                  
                           &::-webkit-slider-thumb::before {
                               background-color: grey; 
                           }
                        }
                     }
                }
                input[type=range] {
                    box-sizing: border-box;
                    appearance: none;
                    width: 100% !important;
                    margin: 0;
                    padding: 0 2px;
                    /* Add some L/R padding to ensure box shadow of handle is shown */
                    overflow: hidden;
                    border: 0;
                    border-radius: 1px;
                    outline: none;
                    background: linear-gradient(grey, grey) no-repeat center;
                    /* Use a linear gradient to generate only the 2px height background */
                    background-size: 100% 2px;
                    pointer-events: none;
                 
                    &:active,
                    &:focus {
                       outline: none;
                    }
                 
                    &::-webkit-slider-thumb {
                       height: 28px;
                       width: 28px;
                       border-radius: 28px;
                       background-color: #fff;
                       position: relative;
                       margin: 5px 0;
                       /* Add some margin to ensure box shadow is shown */
                       cursor: pointer;
                       appearance: none;
                       pointer-events: all;
                       box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
                       &::before {
                             content: ' ';
                             display: block;
                             position: absolute;
                             top: 13px;
                             left: 100%;
                             width: 2000px;
                             height: 2px;
                       }
                    }
                 }
                 .lower{
                     background: transparent !important;
                 }
            }
        }
        &__menu{
            padding-top: 20px;
            &--elems{
                padding: 0 !important;
                & ul{
                    padding-right: 0 !important;
                    & li{
                        & a{
                            justify-content: flex-start !important;
                            padding: 9px 0px 9px 12px !important;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        &__rating{
            padding-top: 20px;
            &--numbers{
                display: flex;
                justify-content: space-between;
                & button{
                    padding: 5px 15px;
                    font-size: 14px;
                    background: transparent;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }
                & .active{
                    background: #B0C6FF;
                    border-radius: 10px;
                    color: white;
                }
            }
        }
        &__border{
            position: relative;
            padding-bottom: 15px;
            &::before{
                position: absolute;
                content: "";
                bottom: 0;
                width: 120%;
                left: -10%;
                right: -10%;
                height: 1px;
                background: #efeff2;
            }
        }
        &__button{
            & button{
                width: 100%;
                outline: none;
                border: none;
                color: white;
                padding: 9px 0px;
                background: #DC5252;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                font-weight: bold;
                font-size: 14px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            }
        }
    }

    &-right{
        margin-left: 18px;
    }
    &-filter{
        margin-top: 24px;
        flex: 1;
        &-content{
            position: relative;
            background: #FFFFFF;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            width: 100%;
            min-height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 18px;
            &__button{
                display: flex;
                order: 2;
                & button{
                    width: 250px;
                }
                &--green{
                    display: none;
                    background: #46B22B !important;
                }
            }
            &__item{
                display: none;
                position: absolute;
                z-index: 100;
                top: 80px;
            }
            & .active{
                display: block;
            }
            &__ul{
                max-width: 450px;
                overflow-x: scroll !important;
                white-space: nowrap !important;
                &::-webkit-scrollbar{
                    display: none;
                }
                & li {
                    display: inline-block;
                    & a{
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        display: flex;
                        color: #B9B9B9;
                        
                    }
                    &:not(:first-child){
                        margin-left: 10px;
                    }
                }
                & .active{
                    color: #333333;
                    font-weight: bold;
                    background: none;
                }
            }
        }
        
    }
    &-section-product{
        &-card{
            display: flex; 
            justify-content: space-around;
            flex-wrap: wrap;   
            &__item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                position: relative;
                background: #FFFFFF;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                margin-top: 30px;
                outline: none;
                min-height: 310px;
                padding: 15px;
                height: 350px;
                padding: 20px;
                width: 250px;
                overflow: hidden;
                &--images{
                    position: absolute;
                    display: flex;
                    top: 210px !important;
                    padding: 10px 10px !important;
                    border-radius: 5px !important;
                    z-index: 11;
                }
                &--info{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;
                    cursor: pointer;
                    &__top{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: relative;
                        padding-top: 20px;
                        margin-top: 20px;
                        &::before{
                            position: absolute; 
                            content: "";
                            top: 0;
                            width: 120%;
                            left: -10%;
                            right: -10%;
                            height: 1px;
                            background: #efeff2;
                        }
                        &--title{
                            display: flex;
                            align-items: center;
                            text-align: right;
                            font-weight: bold;
                            font-size: 18px;
                            outline: none;
                        }
                        &--subtitle{
                            font-size: 14px;
                            outline: none;
                            margin-top: 5px;
                            margin-bottom: 5px;
                            display: flex;
                            align-items: center;
                            text-align: right;
                        }
                    }
                    &__bottom{
                        display: flex;
                        width: 100%;
                        &--cost{
                            display: flex;
                            align-items: center;
                            font-weight: bold;
                            font-size: 14px;
                        }
                    }
                }
                &--stock{
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 40px;
                    background: url('../../img/Rectangle\ 28.png') no-repeat 50% 50%;
                    background-size: cover;
                    color: #fff;
                    font-weight: bold;
                    font-size: 14px;
                    z-index: 5;
                    right: -7px;
                    &_percent{
                        padding: 6px 12px 7px 24px;
                        
                    }
                }
                &--img{
                    background: url('../../img/Rectangle\ 24.png') no-repeat 50% 50%;
                    background-size: cover;
                    width: 100%;
                    min-height: 210px;
                    border-radius: 10px;
                }
            }
        }
    }
}
.rotate{
    transform: rotateX(180 deg);
}   