
@media (max-width:1200px){
    .nav{
        &-bottom{
            &__title button{
                font-size: 16px;
                padding: 19px 30px;
            }
            &__btns{
                & div{
                    &:not(:first-child){
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .footer{
        &-middle{
            &__navigation{
                width: 45%;
            }
        }
    }
    //   SECTION-SECOND
    .section-second{
        &__item{
            &--1{
                &_category{
                    &-menu{
                        & ul{
                            & li{
                                & a{
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // END

    //    CART
    .main-section{
        &-process{
            flex: 6;
            & .third{
                    &-item{
                        &__description{
                            &--info{
                                .item-info{
                                    &__top{
                                        &--title{
                                            font-size: 15px;
                                        }
                                    }
                                    &__bottom{
                                        &--cost{
                                            font-size: 9px;
                                            margin-left: 4px !important;
                                        }
                                    }
                                }
                            }
                            &--descript{
                                margin-left: 5px;
                            }
                        }
                        
                    }
                }
        
        
        }
    }
    // END
    // DESCRIPTION  
    .product-informations{
        &-middle{
            &__info{
                &--wrapper{
                    &:not(:last-child){
                        padding-left: 20px;
                    }
                }
                &--item{
                    &_left,&_right{
                        font-size: 15px;
                    }
                }
            }
        }
        &-bottom{
            &-text{
                padding-left: 20px;
            }
        }
        &-company{
            flex-direction: column;
            justify-content: center;
            &__left{
                justify-content: center;
            }
        }
    }
    .search{
        &-filter{
            &-content{
                &__button{
                    & button{
                        width: 200px;
                    }
                }
                &__ul{
                    max-width: 400px;
                }
            }
        }
    }
    .description-item{
        &__hideform{
            &--left{
                display: block !important;
            }
        }
        &-img{
            flex: 14;
            min-height: 450px;
        }
        &-text{
            margin-left: 0;
            &__top{
                display: none;
            }
            &__bottom{
                flex-direction: column !important;
                &--left{
                    margin-top: 0 !important;
                    margin-left: 18px;
                }
            }
        }
    }
    .hidden-item{
        display: block;
    } 
}
@media (max-width:992px){
    .nav{
        &-bottom{
            &__title button{
                font-size: 16px;
                padding: 19px;
            }
            &__search{
                flex: 7;

            }
            &__btns{
                flex: 3;
                & div{
                    &:not(:first-child){
                        margin-left: 0;
                    }
                }
                &-cart{
                    display: flex;
                }
            }
        } 
        &-middle{
            &__logo{
                margin-right: 0;
                & a{
                    .logo-text{
                        display: none;
                    }
                }
            }
            &__phone{
                display: none;
            }
        }       
    }
    .account-text{
        display: none!important;
    }
    .footer{
        &-middle{
            &__navigation{
                &--navs{
                    &:last-child{
                        display: none !important;
                    }
                }
            }
        }
    }
    //  SECTION SECOND
    .section-second{
        &__item{
            &--1{
                display: none;
            }
            &--2{
                margin: 0 auto; 
            }
            &--3{
                display: none;
            }
        }            
        
    }
    // END

    //    CART
    .main-section{
        &-wrapper{
            flex-direction: column;
        }
        &-total-sums{
            display: flex;
            flex-direction: row;
            margin-left: 0;
            &-title{
                height: 240px !important;
                justify-content: center;
                flex: 6;
                padding: 15px;
            }
            &-info{
                margin-left: 18px;
                width: auto !important;
                flex: 6 !important;
                & a{
                    padding: 7px 30px !important;   
                }
            }
        }
        &-process{
            width: 100%;
                & .third{
                    &-item{
                        &__description{
                            width: 55%;
                            &--info{
                                flex: 1;
                                .item-info{
                                    &__top{
                                        align-items: flex-start;
                                        &--title{
                                            font-size: 18px;
                                        }
                                    }
                                    &__bottom{
                                        justify-content: flex-start;
                                        &--cost{
                                            font-size: 11px !important;
                                        }
                                    }
                                }
                            }
                            &--descript{
                                display: none !important;
                            
                            }
                        
                        }
                    }
    
                }
        }
    }
    //END
    //    DESCRIPTION
    .description-item{
        &-wrapper{
            flex-direction: column;
        }
        &-img{
            min-height: 650px;
            flex-direction: column;
            &__main{
                flex: 7;
                & img{
                    width: 200px;
                    height: 200px;
                }
            }
            &__litle{
                flex-direction: row;    
                flex: 4 !important; 
                &--item{
                    & img{
                        width: 70px;
                        height: 70px;
                    }
                    &:first-child{
                        margin-top: 18px !important;    
                        margin-left: 0 !important;
                    }
                }
            }
        }
        &-text{
            &__bottom{
                flex-direction: row !important;
                &--left{
                    margin-left: 0 !important;
                    margin-top: 18px !important;
                }
            }
        }
    }
    .product-informations{
        &-company{
            &__right{
                &--top{
                    &_table{
                        & > div{
                            & > div{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        &-middle{
            &__info{flex-direction: column;
                &--wrapper{
                    flex: auto;
                    padding-left: 20px;
                }
                &--item{
                    &_left,&_right{
                        font-size: 15px;
                    }
                }
            }
        }
    }
    //END

    //    SEARCH( SECTION-PRODUCT IN SEARCH PAGE)
    .search{
        &-filter{
            &-content{
                &__ul{
                    max-width: 250px;
                }
                &__button{
                    & button{
                        width: 120px;
                        font-size: 12px;
                    }
                }
            }
        }
        &-section-product{
            &-card{
                justify-content: space-evenly;
            }
        }
    }
    
    //  END
    //    PERSONAL
    .personal{
        flex-direction: column;
        &-item{
            &:not(:first-child){
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
    // END

    //   ORDER
    .order{
        &-inner{
            flex-direction: column;
            &__main{
                &:first-child{
                    margin-right: 0px;
                }
            }
        }
    }
    //END

    // ADDPRODUCTS
    .addproduct{
        &-item{
            flex-direction: column;
            &__left{
                &--textarea{
                    margin-bottom: 20px;
                }
            }
            &__right{
                align-items: center !important;
                justify-content: center;
                &--img{
                    width: 100%;
                    margin-top: 0 !important;
                }
                &--wrapper{
                    width: 70%;
                }
            }
        }
    }
    //END

    //    CHART
    .section-chart{
        &-top{
            &__company,&__chart{
                flex: 6;
            }
        }
        &-middle{
            &__category{
                & ul{
                    margin-left: 20px;
                    & li{
                        & a{
                            font-size: 15px;
                            padding-left: 5px;
                            padding-right: 5px;
                        }
                    }
                }
                &--adding{
                    display: none;
                    margin-left: 10px;
                    font-size: 16px;
                }
                &--hidden{
                    display: flex;
                }
            }
            &__product{
                &--item{
                    &_name{
                        flex: 2;
                        flex-direction: column;
                        justify-content: center;
                        &-subtitle{
                            margin-top: 7px;
                        }
                    }
                    &_rating{
                        flex-direction: column-reverse;
                    }
                }
            }
        }
    }
    /// END
    .my-orders{
        &-bottom{
            &__item{
                &--3{
                    & ul{
                        & li{
                            &:nth-child(3){
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:768px){
    .nav{
        &-top{
            justify-content: start;
            &__right{
                flex-grow: 1;
                &--language{
                    margin-left: auto;
                }
            }
        }
        &-middle{
            &__logo{
                display: none !important;
            }
            &__search{
                display: block !important;
                & input{
                    padding-right: 70px !important;
                }
                &--text{
                    display: none !important;
                }
                &--magnifier{
                    display: block !important; 
                }
            }
            & ul{
                display: none;
            }
        } 
        &-bottom{
            &__search{
                padding-left: 0;
                display: none;
            }
            &__category{
                flex: 6;
                & button{
                    padding: 19px 45px;
                    width: auto;
                }
            }
        }          
    }
    .footer{
        &-middle{
            &__navigation{
                &--navs{
                    &:nth-child(2){
                        display: none !important;
                    }
                }
            }
        }
        &-bottom{ 
            flex-wrap: wrap;
            &__license{
                order: 3;
                margin: 0 auto;
            }
        }
    } 
    .navbar-fixed{
        &__search{
            display: none !important;
        }
        &__category{
            justify-content: start;
        }
        &__logo{
            display: none;
        }
    } 
    .slider .slide__content--headings h2{
        font-size: 30px;
    }
    //   CART
    .main-section{
        &-total-sums{
            &-title{
                flex: 5;
                &__name{
                    font-size: 20px;
                }
            }
            &-info{
                flex: 9;
            }
        }
        &-process{
                & .third{
                    min-height: 140px;
                    &-item{
                        &__description{
                            flex-direction: column;
                            &--info{
                                .item-info{
                                    &__top{
                                        &--subtitle{
                                            margin-bottom: 5px;
                                        }
                                    }
                                }
                            }
                            &--countity{
                                &_quantity{
                                    margin-top: 12px;
                                }
                        }
                        
                    }
                }
    
            }
        }
    }
    // END

    //    DESCRIPTION
    .description-item{
        &-img{
            min-height: 500px;
            &__main{
                & img{
                    width: 180px;
                    height: 180px;
                }
            }
            &__litle{
                &--item{
                    & img{
                        width: 60px;
                        height: 60px;
                    }
                }
            }
        }
        &-text{
            &__bottom{
                flex-direction: column !important;
                &--right{
                    margin-left: 0 !important;
                    &_top{
                        &-bottom{
                            padding-top: 15px !important;
                        }
                    }
                }
            }
        }
    }
    .product-informations{
        &-company{
            padding: 20px!important;
            &__left{
                & img{
                    width: 450px;
                }
            }
            &__right{
                &--top{
                    &_table{
                        width: 100% !important;
                        display: table !important;
                        margin-top: 20px;
                        & > div{
                            display: table-row !important;
                            & > div{
                                display: table-cell !important;
                                padding: 0 !important;
                                vertical-align: middle;
                                border-right: none;
                                text-align: left;
                            }
                        }
                    }
                }
                &--bottom{
                    margin-bottom: 20px;
                }
            }
        }
    }
    // END

    //   SEARCH
    .search{
        &-left{
            display: none;
        }
        &-right{
            margin-left: 0 !important;
        }
        &-filter{
            &-content{
                &__ul{
                    display: none;
                }
                &__button{
                    & button{
                        width: 130px;
                        font-size: 12px;
                    }
                    &--green{
                        width: 150px !important;
                        display: block;
                        margin-right: 20px;
                    }
                }
            }
        }
        &-section-product{
            margin-top: 20px;
            &-card{
                &__item{
                    margin: 20px 3px;
                }
            }
        }
    }
    
    //END

    //SECTION- REGISTRATION
    .section-register{
        &-form{
            &__field{
                &--input{
                    &_item{
                        flex-direction: column;
                    }
                    &-wrapper{
                        &:not(:first-child){
                            margin-left: 0 !important;
                        }
                    }
                }
            }
        }
    }
    // END

    /// PERSONAL
    .personal{
        &-item{
            padding: 15px;
            &__data{
                &--info{
                    &_person{
                        &-left,&-right{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    /// END

    /// ADDPRODUCTS
    .addproduct{
        &-item{
            &__right{
                &--img{
                    &_photo{
                        width: 170px;
                        height: 170px;
                    }
                }
                &--wrapper{
                    width: 100%;
                }
            }
        }
    }
    //END

    //   CHART
    .section-chart{
        &-top{
            flex-direction: column !important;
            &__chart{
                margin-left: 0 !important;
                margin-top: 18px;
                &__chart{
                    & canvas{
                        width: 100% !important;
                    }
                }
            }
        }
        &-middle{
            &__category{
                justify-content: space-between;
                &--li{
                    display: flex;
                }
                &--visible{
                    display: none !important;
                }
                &--hidden{
                    margin-right: 20px;
                }
            }
            &__product{
                &--item{
                    &_rating{
                        display: none;
                    }
                    &_cost{
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        &-stock,&-money{
                            & span{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    //END

    //ORDER
    .my-orders{
        &-top{
            &__item{
                flex: 6 !important;
                &:nth-child(2){
                    display: none;
                }
            }
        }
        &-bottom{
            &__item{
                &--1{
                    &_top,&_bottom{
                        font-size: 12px;
                    }
                }
                &--2{
                    display: none;
                }
            }
        }
    }
}
@media (max-width:576px){
    .nav{
        &-middle{
            &__logo{
                display: none !important;
            }
            &__search{
                display: block !important;
                & input{
                    padding-right: 70px !important;
                }
                &--text{
                    display: none !important;
                }
                &--magnifier{
                    display: block !important; 
                }
            }
            & ul{
                display: none;
            }
        } 
        &-bottom{
            &__search{
                display: none;
            }
        }     
    }
    .footer{
        &-middle{
            &__navigation{
                &--phone{
                    &-info{
                        font-size: 14px;
                    }
                    &-number{
                        & a{
                            font-size: 16px;
                        }
                    }
                    &-link{
                        font-size: 10px;
                    }
                }
                &--navs{
                    &-title{
                        font-size: 14px;
                    }
                    &-list{
                        & ul{
                            & li{
                                & a{
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
    // ADVERT
    .section-advert{
        &__text{
            font-size: 9px;
        }
        min-height: 250px !important;
        &-left{
            flex: 4;
        }
        &-right{
            & img{
                max-width: 605px!important;
            }
        }
    }
    // END

    // CART
    .main-section{
        &-total-sums{
            flex-direction: column;
            &-title{
                flex: auto;
                padding-left: 30px;
                padding-right: 0;
                height: 80px !important;
                justify-content: start;
            }
            &-info{
                margin-left: 0;
                & a{
                    padding: 7px 40px !important;
                }
            }
        }
        &-process{
            & .third{
                &-wrapper{
                    & label{
                        margin-left: 25px;
                    }
                }
                &-item{
                        &__img{
                            width: 60px;
                            height: 60px;
                        }
                        &__description{
                            &--info{
                                .item-info{
                                    &__top{
                                        &--title{
                                            font-size: 16px;
                                        }
                                        &--subtitle{
                                            font-size: 13px;
                                        }
                                    }
                                }
                            }
                        
                    }
                }
    
            }
        }
    }
    // END
    // DESCRIPTION
    .description-item{
        &-img{
            flex-direction: column;
            min-height: 560px;
            &__main{
                flex: 12;
            }
            &__litle{
                flex-direction: row;
                margin-top: 18px;
                &--item{
                    margin-top: 0 !important;
                    &:first-child{
                        margin-top: 0 !important;
                    }
                }
            }
        }
        &-text{
            &__bottom{
                flex-direction: column;
                &--middle{
                    display: none;
                }
                &--bottom{
                    margin-left: 0 !important;
                    &_left{
                        width: 100%;
                    }
                    &_right{
                        & a{
                            width: 50%;
                        }
                    }
                }
                &--hidden{
                    display: block;
                }
            }
        }
    }
    .product-informations{
        &-top{
            &__links{
                margin-left: 25px !important;
            }
        }
        &-middle{
            &__info{
                &--wrapper{
                    padding-left: 0 !important;
                }
                &--item{
                    width: 100%;
                }
            }
        }
        &-bottom{
            &-text{
                padding-left: 0 !important; 
            }
        }
        &-company{
            padding: 25px;
            &__left{
                & img{
                    width: 290px;
                }
            }
            &__right{
                &--top{
                    table{
                        display: flex;
                        flex-wrap: wrap;
                        border-bottom: none;
                        tbody{
                            display: flex;
                        }
                        td,th{
                            font-size: 15px;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            border-right: none;
                        }
                        td{
                            flex: 4;
                            flex-direction: column;
                            justify-content: space-between;
                            flex-grow: 1 !important;
                            &:nth-child(2){
                                height: 40.5%;
                            }
                        }
                    }
                }
            }
        }
    }
    .hidden-item{
        &-wrapper{
            &-name{
                & a{
                    font-size: 20px;
                }
                &__second{
                    font-size: 15px;
                }
            }
            &-rating{
                &__text{
                    font-size: 20px;
                }
                &__stars{
                    &--second{
                        & span{
                            font-size: 15px;
                        }
                    }
                & a{
                    font-size: 15px;
                }
            }
            }
            
        }
    }
    // END
    // ADDPRODUCTS
    .addproduct{
        &-item{
            padding: 0 25px !important;
        }
    }
    //END
    // CHART
    .section-chart{
        &-middle{
            &__product{
                &--item{
                    &_name{
                        flex: 1;
                    }
                    &_cost{
                        flex: 1;
                        &-stock,&-money{
                            & span{
                                font-size: 10px;
                            }
                        }
                    }
                    &_img{
                        margin-right: 10px; 
                        &-photo{
                            width: 50px !important;
                            height: 50px !important;
                        }
                    }
                    &_edit{
                        flex: 0;
                        &-wrapper{
                            flex-direction: column;
                            & button{
                                width: 30px;
                                height: 30px;
                                display: flex;
                                justify-content: center;
                                padding: 0 !important;
                                & img{
                                    vertical-align: middle;
                                    width: 18px;
                                    height: 18px;
                                }
                            }
                        }
                        &-green{
                            margin-left: 0;
                            margin-top: 5px;
                        }

                    }
                }
            }
        }
        &-bottom{
            &__links{
                margin-left: 20px;
                & a{
                    font-size: 13px;
                    padding: 20px 5px;
                }
            }
        }
    }
    //END
    //PROCESS
    .my-orders{
        &-top{
            &__item{
                flex: 3;
                
            }
        }
        &-bottom{
            &__item{
                &--1{
                    flex: 6;
                    &_top,&_bottom{
                        font-size: 14px;
                    }
                }
                &--2{
                    display: none;
                }
                &--3{
                    flex: 5;
                    & ul{
                        & li{
                            &:nth-child(3){
                                padding-right: 18px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    //END
    // SEARCH
    .section-product{
        margin-top: 20px;
        &-card{
            &__item{
                margin: 20px 3px;
            }
        }
    }
    //END
}
@media (max-width:480px){
    .nav{
        &-top{
            &__left{
                margin: 0;
                
            }
        }
        &-bottom{
            &__category{
                flex: 5;
                &-menu{
                    width: 340px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            &__btns--login{
                width: 300px;
                height: 300px;
            }
        }      
    }
    .footer{
        &-middle{
            &__navigation{
                &--phone{
                    &-info{
                        font-size: 13px;
                    }
                    &-number{
                        & a{
                            font-size: 14px;
                        }
                    }
                    &-link{
                        font-size: 10px;
                    }
                }
                &--navs{
                    &-title{
                        font-size: 13px;
                    }
                    &-list{
                        & ul{
                            & li{
                                & a{
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }    
    //SECTION-SECOND
    .slider{
        height: 300px !important;
        .slide{
            & img{
                height: 225px;
            }
            &__content{
                width: 100%;
                padding: 0 10px;
                & h2{
                    font-size: 16px;
                }
                & p{
                    font-size: 12px;
                }
            }
        }
    }
    .big-cards{
        &__item-bottom{
            width: 350px !important;
            padding: 15px;
            &--second-img{
                & img{
                    width: 310px !important;   
                }
            }
            &--prodaj{
                width: 160px;
                padding: 9px 10px;  
                justify-content: center;
                font-size: 12px;
            }
            &_first{
                &-top{
                    &__title{
                        font-size: 16px !important;
                    }
                    &__subtitle{
                        font-size: 12px !important;
                    }
                }
                &-bottom{
                    &__cost{
                        font-size: 10px !important;
                    }
                    &__left{
                        &--img{
                            & img{
                                width: 13px !important;
                                height: 13px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    // END
    // CART
    .main-section{
        &-process{
            &-title{
                &__name{
                    &--title{
                        font-size: 17px;
                    }
                    &--img{
                        & img{
                            width: 18px;
                        }
                    }
                }
                &__count{
                    font-size: 16px;
                }
            }
            .current{
                &__adress{
                    &--checkbox{
                        margin-right: 0 !important;
                        margin-left: 0 !important; 
                    }
                    &--top{
                        margin-left: 10px !important;
                    }
                    &--bottom{
                        margin-left: 10px !important;
                        & a{
                            font-size: 16px;
                        }
                    }
                }
            }
            & .two{
                &-top{
                    & label{ 
                        margin-left: 10px;
                        font-size: 17px;
                        padding-right: 12px;
                        padding-left: 12px;
                    }
                }
            }
            & .third{
                &-wrapper{
                    & label{
                        margin-left: 0 !important;
                    }
                }
                &-item{
                    &__img{
                        width: 47px;
                        height: 47px;
                    }
                    &__description{
                        &--info{
                            .item-info{
                                &__top{
                                    &--title{
                                        font-size: 14px;
                                    }
                                    &--subtitle{
                                        font-size: 12px;
                                    }
                                }
                                &__bottom{
                                    &--img{
                                        & img{
                                            width: 14px !important;
                                        }
                                    }
                                    &--cost{
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    
                }
            }

        }
    }
    }
    //END

    // DESCRIPTION
    .description-item{
        &-img{
            min-height: 450px;
            &__main{
                & img{
                    width: 150px;
                    height: 150px;
                }
            }
            &__litle{
                &--item{
                    & img{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
        &-text{
            &__bottom{
                &--bottom{
                    flex-direction: column;
                    &_right{
                        margin-top: 15px;
                    }
                }
                &--left{
                    width: 100% !important;
                }
            }
        }
    }
    .product-informations{
        &-middle{
            &__info{
                &--item{
                    &_left,&_right{
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .hidden-item{
        &-wrapper{
            &-name{
                & a{
                    font-size: 17px;
                }
                &__second{
                    font-size: 13px;
                }
            }
            &-rating{
                &__text{
                    font-size: 17px;
                }
                &__stars{
                    flex-direction: column;
                    &--second{
                        flex-direction: row-reverse;
                        & span{
                            margin-right: 0;
                            font-size: 13px;
                        }
                        & img{
                            width: 14px;
                            height: 13px;
                        }
                    }
                & a{
                    align-self: flex-end;
                    font-size: 13px;
                }
    
            }
            }
            
        }
    }
    // END

    //REGISTRATION
    .section-register{
        &-wrapper{
            padding: 0 16px;
        }
        &-form{
            &__field{
                &--input{
                    &-wrapper{
                        & label{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    //END
    // PERSONAL
    .personal{
        &-item{
            &__top{
                margin-left: 0 !important;
                &--title{
                    font-size: 24px !important;
                }
                &--img{
                    width: 22px !important;
                }
            }
            &__data{
                &--info{
                    &_person{
                        &-left,&-right{
                            font-size: 12px;
                        }
                    }
                }
                &--form{
                    &_input{
                        margin: 0 auto;
                        width: 180px;
                    }
                }
            }
        }
    }
    .third{
        padding: 15px !important;
        &-wrapper{
            label::before,label::after{
                margin-left: 10px !important;
            }
            
        }
    }
    // END

    //ORDER
    .order{
        &-inner{
            &__main{
                &--payment{
                    &_onlinecard{
                        &--label{
                        margin-left: 34px !important;
                        }
                    }
                    &_card{
                        flex-direction: column !important;
                        padding-left: 0 !important;
                        & div{
                            margin: 20px 0;
                        }
                    }
                }
            }
        }
    }
    .confirm{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    //END

    // ADDPRDUCT
    .addproduct{
        &-item{
            padding: 0 15px !important;
            &__left{
                &--confugration{
                    &_item{
                        &-radio{
                            flex-direction: column;
                            align-items: center;
                            &-navs{
                                margin-left: 0 !important;
                                margin-top: 30px;
                            }
                        }
                    }
                    &_title{
                        display: flex;
                        justify-content: center;
                    }
                }
                &--textarea{
                    &_title{
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            &__right{
                &--img{
                    &_photo{
                        width: 140px;
                        height: 140px;
                    }
                }
                &--wrapper{
                    width: 100%;
                }
            }
        }
    }
    .big-title{
        font-size: 20px;
    }
    // END
    .search{
        &-left{
            display: none;
        }
        &-filter{
            &-content{
                &__item{
                    width: 310px;
                    left: 50%;
                    transform: translateX(-50%);
                    &-wrapper{
                        width: 100% !important;
                    }
                }
                &__ul{
                    display: none;
                }
                &__button{
                    & button{
                        width: 110px;
                        font-size: 10px;
                    }
                    &--green{
                        width: 110px !important;
                        display: block;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    // CHART
    .section-chart{
        &-top{
            &__company{
                &--info{
                    &_left,&_right{
                        font-size: 12px;
                    }
                }
            }
        }
        &-middle{
            &__product{
                &--item{
                    &_name{
                        flex: 2;
                        &-title{
                            font-size: 13px !important;
                        }
                        &-subtitle{
                            font-size: 11px !important;
                        }
                    }
                }
            }
        }
    }
    //END

    //  PROCESS
    .my-orders{
        &-bottom{
            &__item{
                &--1{
                    flex: 6;
                    &_top,&_bottom{
                        font-size: 12px;
                    }
                }
                &--3{
                    & ul{
                        & li{
                            &:nth-child(3){
                                padding-right: 20px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    //END
}
@media (max-width:405px){
    .nav-bottom__category button{
        font-size: 15px;
        padding: 19px 30px;
    }
    //MAIN-TITLE
    .main-title {
        font-size: 18px;
        padding-left: 10px;
        
        .red-item{
            margin-left: 20px;
            & a{
                margin-left: 0;
            }
        }
    }
    //REGISTER
    .section-register{
        &-form{
            &__field{
                &--input{
                    &-wrapper{
                        & label{
                            font-size: 13px;
                        }
                    }
                }
                &--legend{
                    font-size: 20px;
                } 
            }
            &__submit {
                & input[type="button"]{
                    font-size: 16px;
                }
            }
        }
    }
    // END
    //DESCRIPTION
    .description-item{
        &-text{
            &__top{
                &--guarantee{
                    &_text{
                        display: none;
                    }
                }
            }
            &__bottom{
                &--left{
                    width: 100% !important;
                }
            }
        }
    }
    .product-informations{
        &-company{
            &__right{
                &--top{
                    &_table{
                        & > div{
                            & > div{
                                font-size: 14px;
                            }
                        } 
                    }
                }
                &--bottom{
                    &_left,&_right{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media (max-width:390px){
    //MAIN-TITLE
    .main-title {
        font-size: 18px;
    }
    .nav{
        &-bottom{
            &__category{
                & button{
                    padding: 19px 25px;
                }
                &-menu{
                    width: 275px !important;
                }
            }
        }
    }
    //END
    .product-informations{
        &-middle{
            padding: 15px !important;
            &__info{
                &--item{
                    &_left,&_right{
                        font-size: 12px;
                    }
                }
            }
        }
        &-bottom{
            padding: 15px !important;
        }
    }
    //CART
    .main-section{
        &-process{
                &-title{
                    &__name{
                        margin-left: 20px!important;
                        &--title{
                            font-size: 16px;
                        }
                    }
                    &__count{
                        font-size: 12px;
                    }
                }
                & .current{
                    .radio{
                        & label{
                            &::before{
                                width: 22px;
                                height: 22px;
                            }
                        }
                    }
                    &__adress{
                        &--top{
                            margin-left: 15px;
                            &_title{
                                font-size: 16px;
                            }
                            &_links{
                                & button{
                                    font-size: 16px;
                                }
                            }
    
                        }
                        &--bottom{
                            & button{
                                font-size: 14px;
                            }
                        }
                    }
                    & .checkbox{
                        margin-left: 0;
                    }
                }
                & .two{
                    &-top{
                        & label{
                            font-size: 15px;
                            &:nth-child(1){
                                margin-left: 0;
                            }
                            &:nth-child(2){
                                margin-left: 0;
                            }
                        }
                    }
                }
                
        }
    }
    .third{
        &-wrapper{
            label::before,label::after{
                margin-left: 10px !important;
            }
            
        }
        &-item{
            &__description{
                &--info{
                    .item-info{
                        &__bottom{
                            flex-direction: column;
                            align-items: center;
                            &--cost{
                                margin-top: 5px;
                            }
                        }
                    }
                }
            
            
        }
        }

    }
    // END
    .my-orders{
        &-bottom{
            &__item{
                &--1{
                    &_top,&_bottom{
                        padding-left: 15px;
                    }
                }
                &--3{
                    padding-left: 0 !important;
                    flex: 5 !important;
                    padding-right: 10px !important;
                    & ul{
                        & li{
                            &:nth-child(3){
                                padding-right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:370px){
    .nav{
        &-top{
            &__left,&__right{
                & a{
                    font-size: 10px;
                }
            }
        }  
        &-middle{
            &__search{
                & input{
                    padding:17px 70px 17px 20px !important;
                }
            }
        }
        &-bottom{
            &__category{
                flex: 4;
                & button{
                    padding: 18px;
                }
            }
            &__btns{
                padding-left: 10px;
                &--login{
                    width: 295px;
                }
            }
        }  
    }
    .footer{
        &-middle{
            &__navigation{
                &--phone{
                    &-info{
                        font-size: 12px;
                    }
                    &-number{
                        & a{
                            font-size: 12px;
                        }
                    }
                    &-link{
                        font-size: 10px;
                    }
                }
                &--navs{
                    &-title{
                        font-size: 12px;
                    }
                    &-list{
                        & ul{
                            & li{
                                & a{
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //ADDPRODUCTS
    .addproduct{
        &-item{
            &__right{
                &--img{
                    &_photo{
                        width: 110px;
                        height: 110px;
                    }
                }
            }
        }
    }
    .big-title{
        font-size: 18px;
    }
    //END
    .product-informations{
        &-company{
            &__left{
                & img{
                    width: 240px;
                }
            }
            &__right{
                &--top{
                    &_table{    
                        & > div{
                            & > div{
                                font-size: 12px;
                            }
                        } 
                    }
                }
                &--bottom{
                    &_left,&_right{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .description-item{
        &-text{
            &__bottom{
                &--left{
                    &-table{
                        & thead{
                            & tr{
                                & th{
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
                &--right{
                    &_quantity{
                        padding-right: 10px !important;
                    }
                    &_size,&_color{
                        &-navs{
                            &__radio{
                                & label{
                                    &:not(:first-child){
                                        margin-left: 4px !important     ; 
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .big-cards{
        &__item-bottom{
            width: 250px !important;
            height: 370px !important;
            padding: 15px;
            &--second-img{
                & img{
                    width: 210px !important;   
                    height: 210px;
                }
            }
            &--prodaj{
                width: 140px;
                top: 210px !important; 
            }
            &_first{
                &-top{
                    &__subtitle{
                        margin-top: 5px !important;
                        margin-bottom: 7px !important;
                    }
                }   
                &-bottom{
                    &__cost{
                       margin-left: 0 !important;
                    }
                }
            }
            &_two{
                flex: 0 !important;
            }
        }
    }
}
@media (max-width:350px){
    .nav-bottom__btns{
        &--login{
            width: 260px;
            &_form{
                padding: 0 15px !important;
            }
        }
    }
    .footer{
        &-bottom{
            &__developers{
                .developed{
                    font-size: 12px;
                }
            }
            &__license{
                font-size: 12px;
            }
        }
    
        
    }
    //MAIN-TITLE
    .main-title {
        font-size: 14px !important;
        .red-item{
            & a{
                font-size: 12px;
                padding: 5px 5px;
            }
        }
    }
    //END
    .product-informations{
        &-middle{
            padding: 10px !important;
            &__info{
                &--item{
                    &_left,&_right{
                        font-size: 11px;
                    }
                }
            }
        }
    }
    //CART
    .main-section{
        &-process{
            &-title{
                padding: 13px !important;
                &__name{
                    &--title{
                        margin-left: 5px;
                    }
                }
                &__count{
                    font-size: 10px;
                }
            }
            & .third{
                &-wrapper{
                    & label{
                        &::before , &::after{
                            margin-left: 7px !important;
                        }
                    }
                }
                &-item{
                    padding: 0px 0px 0px 25px;
                    &__description{
                        &--info{
                            .item-info{
                                &__top{
                                    &--title{
                                        font-size: 11px;
                                    }
                                }
                                &__bottom{
                                    &--img{
                                        & img{
                                            width: 12px !important;
                                        }
                                    }
                                }
                            }
                        }
                        &--countity{
                            &_quantity{
                                &-title{
                                    font-size: 12px !important;
                                }
                            }
                    }
                    
                }
                }
    
            }
        }
    }
    //END

    //DESCRIPTION
    .description-item{
        &-img{
            min-height: 400px !important;
        }
    }   
    .hidden-item{
        &-wrapper{
            &-name{
                & a{
                    font-size: 16px;
                }
                &__second{
                    font-size: 12px;
                }
            }
            &-rating{
                &__text{
                    font-size: 16px;
                }
                &__stars{
                    &--second{
                        & span{
                            margin-left: 0;
                        }
                        & img{
                            width: 12px;
                        }
                    }
    
                }
            }
            
        }
    }
    // END

    //CHART
    .section-chart{
        &-middle{
            &__product{
                padding: 0 15px !important;
                &--link{
                    & a{
                        font-size: 15px;
                    }
                }
                &--item{
                    &_name{
                        flex: 2;
                        &-title{
                            font-size: 12px !important;
                        }
                        &-subtitle{
                            font-size: 10px !important;
                        }
                    }
                    &_cost{
                        flex: 1;
                        &-stock,&-money{
                            & span{
                                font-size: 8px;
                            }
                        }
                    }
                    &_img{
                        margin-right: 5px; 
                        &-photo{
                            width: 40px !important;
                            height: 40px !important;
                        }
                    }
                    &_edit{
                        flex: 0;
                        &-wrapper{
                            flex-direction: column;
                            & button{
                                width: 30px;
                                height: 30px;
                                display: flex;
                                justify-content: center;
                                padding: 0 !important;
                                & img{
                                    vertical-align: middle;
                                    width: 18px;
                                    height: 18px;
                                }
                            }
                        }
                        &-green{
                            margin-left: 0;
                            margin-top: 5px;
                        }

                    }
                }
            }
        }
        &-bottom{
            &__links{
                margin-left: 10px;
                & a{
                    font-size: 12px;
                    padding: 20px 3px;
                }
            }
        }
    }
    //END
    .my-orders{
        &-bottom{
            &__item{
                &--1{
                    &_top,&_bottom{
                        font-size: 11px;
                    }
                }
                &--3{
                    & ul{
                        & li{
                            &:nth-child(3){
                                padding-right: 30px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    // PERSONAL  
    .personal{
        &-item{
            &__top{
                margin-left: 0 !important;
                &--title{
                    font-size: 18px !important;
                }
            }
            &__button{
                margin-left: 10px !important;
                & > a{
                    font-size: 15px;
                }
            }
            &-remove{
                margin-left: 10px !important;
            }
        }
    }
    .search-filter-content__item{
        width: 270px;   
    }

}
@media (max-width:320px){
    .nav{
        &-top{
            &__left,&__right{
                & a{
                    font-size: 9px;
                }
            }
        }  
        &-bottom{
            &__btns{
                &--login{
                    width: 250px;
                }
            }
        }   
    }
    // CART
    .main-section{
        &-process{
                &-title{
                    &__name{
                        &--title{
                            margin-left: 5px;
                        }
                    }
                    &__count{
                        font-size: 10px;
                    }
                }
                & .third{
                    &-item{
                        &__description{
                            &--info{
                                .item-info{
                                    &__top{
                                        &--title{
                                            font-size: 12px;
                                        }
                                        &--subtitle{
                                            font-size: 10px;
                                        }
                                    }
                                }
                            }
                        
                    }
                }
    
            }
        }
    }
    //END

    //ADDPRODUCT
    .big-title{
        font-size: 16px;
    }
    //END
}