.main-title{
    font-style: normal;
    margin-top: 30px;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-left: 4px solid #4371E9;
    .red-item{
        & a{
            font-style: normal;
            font-weight: bold;
            margin-left: 30px;
            font-size: 14px;
            color: #fff;
            display: flex;
            align-items: center;
            text-align: center;
            background: #DC5252;
            padding: 5px 8px;
            border-radius: 10px;
            .tire{
                font-weight: normal;
                padding-left: 7px;
                padding-right: 2px;
            }
        }
    }
}
.red {
    fill: #ff0000;
}
.green-button{
    background: #46B22B;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    padding: 7px 30px;
    border: none;
    outline: none;
}
.content-title{
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.white-box{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.big-title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 18px;
}

